<form class="form-horizontal" action="index.html" method="post">
  <div class="control-group">
    <label for="titulo">Titulo: </label>
    <input type="text" name="titulo" value="<%= anuncio.titulo %>" placeholder="Ingrese el titulo" class="control">
  </div>
</form>
